%canvas{style: "height: 400px; width: 400px; position: relative;", id: "canvas"}

= image_tag @image.image.url(:medium), id: "image", style: "display: none"

%button#blur-button Unblur
%button#stop-button Stop
